body {
    display: flex;
    margin: 10px;
    flex-direction: column;
}

#timer {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    color:crimson;
}

#question {
    font-size: 1.25em;
    width: 80%;
    /* word-wrap: break-word; */
    word-break: keep-all;
}

button {
    width: 150px;
    margin: 1px;
    background-color: darkcyan;
    color:blanchedalmond;
    border: .25px solid blanchedalmond;
}

#start {
    width: 75px;
    margin: 10px;
}

[data-state="hidden"] {
    visibility: hidden;
}

[data-state="visible"] {
    visibility: visible;
}
